%div.main

%p.todays-article 本日の記事

%div.body
  %div.body__right
    - @articles.each do |article|
      %div.article
        %img.article__image{src: article.thumbnail }
        %div.article__texts
          %p.article__texts__title= article.title
          %p.article__texts__detail= article.text
          %p.article__texts__date= article.created_at.strftime('%Y年%m月%d日 %H時%M分')
          %p.article__texts__date= article.user.name

  %div.body__left