%div.header
  %div.header__title
    %p.header__title__logo U-NOTE
    = link_to new_user_session_path do
      %p.header__title__copy 仕事を楽しく、毎日をかっこ良く
  %div.header__search
    %form
      %input{class: "header__search__text",type: "text", name: "search", placeholder: "知りたいことを入力"}
      %input{class: "header__search__submit",type: "submit", name: "search", value: "検索"}

%div.main

%p.todays-article 本日の記事

%div.body
  %div.body__right
    %div.article
      %img.article__image{src: "http://tk.ismcdn.jp/mwimgs/c/e/570/img_ce9e9197e8c71adb4da2bf07a589c2ae192733.jpg" }
      %div.article__texts
        %p.article__texts__title 日本の大学を中退し、単身タイのタマサート大学へ !! 東南アジアに恋した大学生のリアル
        %p.article__texts__detail 日本の大学を中退し、単身タイのタマサート大学へ !! 東南アジアに恋した大学生のリアル日本の大学を中退し、単身タイのタマサート大学へ !!
        %p.article__texts__date 2017年4月5日
    %div.article
      %img.article__image{src: "http://tk.ismcdn.jp/mwimgs/c/e/570/img_ce9e9197e8c71adb4da2bf07a589c2ae192733.jpg" }
      %div.article__texts
        %p.article__texts__title 日本の大学を中退し、単身タイのタマサート大学へ !! 東南アジアに恋した大学生のリアル
        %p.article__texts__detail 日本の大学を中退し、単身タイのタマサート大学へ !! 東南アジアに恋した大学生のリアル日本の大学を中退し、単身タイのタマサート大学へ !!
        %p.article__texts__date 2017年4月5日
    %div.article
      %img.article__image{src: "http://tk.ismcdn.jp/mwimgs/c/e/570/img_ce9e9197e8c71adb4da2bf07a589c2ae192733.jpg" }
      %div.article__texts
        %p.article__texts__title 日本の大学を中退し、単身タイのタマサート大学へ !! 東南アジアに恋した大学生のリアル
        %p.article__texts__detail 日本の大学を中退し、単身タイのタマサート大学へ !! 東南アジアに恋した大学生のリアル日本の大学を中退し、単身タイのタマサート大学へ !!
        %p.article__texts__date 2017年4月5日
  %div.body__left