/* ヘッダー部分の装飾です */
.header{
  background-color: black;
  height: 70px;
  width: 100vw;
  &__title{
    color: white;
    float: left;
    width: 350px;
    line-height: 70px;
    &__logo{
      font-size: 30px;
      float: left;
      margin-left: 50px;
      color: white;
      text-decoration: none;
    }
    &__copy{
      font-size: 10px;
      float: left;
      color: white;
    }
  }
  &__search{
    float: left;
    margin-left: 150px;
    line-height: 70px;
    &__text{
      width:200px;
      height:30px;
    }
  }
  .fa-icons{
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    .fa{
      color: white;
    }
  }
  .menu{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 200px;
    line-height: 70px;
    background-color: gray;
    float: right;
    &__avatar{
      margin-left: 15px;
      margin-top: 15px;
      float: left;
      object-fit: cover;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background-color: #ccc;
    }
    &__click-box{
      width: 200px;
      height: 70px;
    }
    &__user{
      margin-left: 20px;
      font-size: 12px;
      float: left;
      color: white;
      &__lists-link{
        text-decoration: none;
      }
      &__lists{
        color: white;
        background-color: gray;
        line-height: 50px;
        height: 50px;
        display: none;
      }
      &__lists:hover{
        text-decoration:underline;;
      }
    }
  }
}
