.mypage-left{
  width: 300px;
  margin-left: 100px;
  float: left;
  &__cover{
    width: 300px;
    height: 400px;
    background-color: red;
  }
  &__menues{
    &__following{
      width: 150px;
      height: 50px;
      line-height: 50px;
      float: left;
      &__num{
        margin-right: 10px;
        float: left;
      }
      &__text{
        font-size: 12px;
        color: gray;
      }
    }
    &__followed{
      width: 150px;
      height: 50px;
      line-height: 50px;
      float: right;
      &__num{
        margin-right: 10px;
        float: left;
      }
      &__text{
        font-size: 12px;
        color: gray;
      }
    }
    &__following-article{
      padding-top: 50px;
    }
    li{
      width: 300px;
      height: 40px;
      line-height: 40px;
      color: black;
      border-top: solid 1px #CCC;
    }
    &__delete-button{
      font-size: 10px;
      color: gray;
      float: right;
    }
  }
}

.mypage-menues{

}

.mypage-user-info{
  width: 600px;
  padding: 20px;
  margin-left: 20px;
  float: left;
  background-color: white;
  &__title{
    width: 640px;
    height: 58px;
    line-height: 58px;
    float: left;
  }
  &__box{
    width: 600px;
    min-height: 120px;
    border-bottom: solid 1px  #CCC;
    clear: left;
    &__left{
      width: 200px;
      float: left;
      &__title{
      }
    }
    &__right{
      float: left;
      margin-left: 20px;
      line-height: 120px;
    }
  }
}
