/* ヘッダー部分の装飾です */
.header{
  background-color: black;
  height: 70px;
  width: 100vw;
  &__title{
    color: white;
    float: left;
    width: 350px;
    line-height: 70px;
    &__logo{
      font-size: 30px;
      float: left;
      margin-left: 50px;
      color: white;
      text-decoration: none;
    }
    &__copy{
      font-size: 10px;
      float: left;
      color: white;
    }
  }
  &__search{
    float: left;
    margin-left: 150px;
    line-height: 70px;
    &__text{
      width:200px;
      height:30px;
    }
    &__submit{
      padding: 5px 5px;
      font-size: 1em;
      border-style: none;
      background-color: #CCC;
    }
    &__submit:before{
      content: "\f14a";
      font-family: FontAwesome;
    }
  }
  .fa-icons{
    float: left;
    margin: 20px;
    .fa{
      color: white;
    }
  }
  .mypage{
    width: 200px;
    height: 70px;
    line-height: 70px;
    background-color: gray;
    float: right;
  }
}
.user-info{
  width: 200px;
  color: white;
  font-size: 12px;
  text-decoration: none;
  float: right;
  display: none;
  li{
    height: 40px;
    line-height: 40px;
    background-color: black;
    opacity: 0.5;
    text-align: center;
    list-style: none;
  }
}

/* スライドショー部分の装飾です */
.main{
  width: 90vw;
  height: 300px;
  background-color: red;
  margin: 0 auto;
}

/* 「本日の記事」の部分です */
.todays-article{
  font-weight: bold;
  margin: 10px;
  margin-left: 50px;
}

/* 記事一覧部分の装飾です */
.body{
  width: 90vw;
  margin: 0 auto;
  background-color: blue;
  &__right{
    width: 60vw;
    background-color: white;
    float:left;
    .article{
      width: 60vw;
      height: 150px;
      padding: 5px;
      &__image{
        object-fit: cover;
        width: 150px;
        height: 150px;
        background-color: #ccc;
        border: 1px solid #ccc;
      }
      &__texts{
        width: -webkit-calc(60vw - 160px);
        float: right;
        &__title{
          text-decoration: none;
          color: black;
          font-weight: bold;
        }
        &__detail{
          width: 95%;
          height: 55px;
          margin-bottom: 10px;
          font-size: 12px;
          overflow: hidden;
          p{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
          }
        }
        &__user-name{
          font-size: 12px;
          padding-right: 15px;
          border-right: solid 1px;
          float: left;
        }
        &__date{
          font-size: 12px;
          padding-left: 15px;
          float: left;
        }
      }
    }
  }
  &__left{
    width: 30vw;
    height: 300px;
    float:  right;
    &__categories{
      width: 220px;
      height: 300px;
      padding: 15px;
      &__category{
        height: 32px;
        .fa-box{
          height: 32px;
          width: 40px;
          float: left;
          i{
            float: left;
            clear: left;
          }
        }
        div{
          margin-left: 10px;
          float: left;
          list-style: none;
          line-height: 32px;
        }
      }
    }
    &__famouses{
      width: 270px;
      height: 300px;
      margin: 15px;
      background-color: white;
      .title{
      }
      .time{
        font-size: 5px;
        color: gray;
      }
    }
    &__news{
      width: 270px;
      height: 300px;
      margin: 15px;
      background-color: white;
    }
    &__keywords{
      width: 270px;
      height: 300px;
      margin: 15px;
      p{
      }
      &__tags-box{
        width: 270px;
        height: 160px;
        background-color: white;
        &__tag-box{
          min-width: 50px;
          height: 35px;
          margin: 2px;
          border: solid 0.5px gray;
          float: left;
          line-height: 35px;
          i{
            float: left;
          }
          .tag{
            font-size: 12px;
            float: left;
          }
        }
      }
    }
  }
}

